<style lang="scss">
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 1;
    padding-bottom: 6.4rem;
  }

  footer {
    position: fixed;
    bottom: 2rem;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.2rem;
    z-index: 1;
  }

  footer a {
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: underline;
  }
</style>

<main>
  <slot />
</main>

<footer>
  <a href="https://brianpatrick.dev" target="_blank" rel="noopener">Fro#6905</a>
  -
  <a
    href="https://gitlab.com/frodesigns-group/helbreath-timer/-/blob/master/README.md"
    target="_blank"
    rel="noopener">
    README
  </a>
  <br />

  <a
    href="https://gitlab.com/frodesigns-group/helbreath-timer"
    target="_blank"
    rel="noopener">
    Source
  </a>
  -
  <a
    href="https://gitlab.com/frodesigns-group/helbreath-timer/-/issues"
    target="_blank"
    rel="noopener">
    Issues
  </a>
  -
  <a
    href="https://gitlab.com/frodesigns-group/helbreath-timer/-/commits/master"
    target="_blank"
    rel="noopener">
    Changes
  </a>
</footer>
