*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fafafa;
  background: #212121;
  text-align: center;
  height: 100%;
  position: relative;
}

.hp-blink:after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation-name: hp-blink;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.mp-blink:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: mp-blink;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes hp-blink {
  0% {
    background: rgba(244, 67, 54, 0.6);
  }

  6.67% {
    background: transparent;
  }

  86.66% {
    background: transparent;
  }
  86.67% {
    background: rgba(244, 67, 54, 0.2);
  }

  93.33% {
    background: transparent;
  }
  93.34% {
    background: rgba(244, 67, 54, 0.4);
  }

  99.99% {
    background: transparent;
  }
  100% {
    background: rgba(244, 67, 54, 0.6);
  }
}

@keyframes mp-blink {
  0% {
    background: rgba(33, 150, 243, 0.6);
  }

  5% {
    background: transparent;
  }

  89.99% {
    background: transparent;
  }
  90% {
    background: rgba(33, 150, 243, 0.2);
  }

  94.99% {
    background: transparent;
  }
  95% {
    background: rgba(33, 150, 243, 0.4);
  }

  99.99% {
    background: transparent;
  }
  100% {
    background: rgba(33, 150, 243, 0.6);
  }
}

#sapper {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
